$green: #9DCC52;
$yellow: #FFCA1A;
$dark-gray: #1A1A1A;
$light-gray: #F1F1F1;

$break-xsmall: 320px;
$break-small: 480px;
$break-med: 768px;
$break-big: 1280px;
$break-interim: 1400px;

$media-small: 600px;
$media-med: 640px;
$media-big: 720px;
$media-interim: 820px;
$media-full: 860px;


a:link, a:visited {
	font-weight:700;
	color:$green;
	text-decoration:none;
}

a:hover {
	color:$yellow;
}

h1 {
	font-size:60px;
	font-weight:700;
	margin:3px 0px;
}

h2 {
	font-size:48px;
	font-weight:700;
	margin:3px 0px;
}

h3 {
	font-size:36px;
	font-weight:700;
	margin:3px 0px;
}

h4 {
	font-size:24px;
	font-weight:700;
	margin:3px 0px;
}

h5, .h5 {
	font-size:18px;
	font-weight:700;
}