@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
a:link, a:visited {
  font-weight: 700;
  color: #9DCC52;
  text-decoration: none; }

a:hover {
  color: #FFCA1A; }

h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 3px 0px; }

h2 {
  font-size: 48px;
  font-weight: 700;
  margin: 3px 0px; }

h3 {
  font-size: 36px;
  font-weight: 700;
  margin: 3px 0px; }

h4 {
  font-size: 24px;
  font-weight: 700;
  margin: 3px 0px; }

h5, .h5 {
  font-size: 18px;
  font-weight: 700; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: Regular;
  margin: 0;
  background-color: #1A1A1A;
  color: #ffffff;
  overflow-x: hidden;
  overflow-y: auto; }

.sm {
  margin: -24px 4px; }

.menu {
  position: fixed;
  top: 0px;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 50;
  width: 300px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  text-align: center; }
  .menu a {
    color: #fff;
    font-weight: 400; }
  .menu a:hover {
    color: #FFCA1A; }
  .menu table {
    margin: 20px 80px 30px 30px;
    font-size: 18px;
    text-align: right; }
  .menu td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ffffff; }
  .menu .line-btm {
    padding-bottom: 80px; }
    @media screen and (max-width: 480px) {
      .menu .line-btm {
        padding-bottom: 10px; } }
  .menu .special {
    font-size: 12px;
    text-align: center;
    padding: 20px 5px; }
    @media screen and (max-width: 480px) {
      .menu .special {
        padding: 10px; } }
  .menu .fv-link {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    padding: 40px 0;
    border: none; }
    .menu .fv-link a {
      font-size: 18px; }
    @media screen and (max-width: 480px) {
      .menu .fv-link {
        font-size: 12px;
        padding-top: 10px; }
        .menu .fv-link a {
          font-size: 12px; } }
  .menu .labels {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 52;
    margin-right: 80px;
    margin-bottom: 10px;
    text-align: right; }
    .menu .labels p {
      margin-bottom: 35px; }
    @media screen and (max-width: 480px) {
      .menu .labels {
        font-size: 12px; } }
  .menu .non-profits-menu {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 15px;
    padding: 0;
    z-index: 100; }
  @media screen and (max-width: 768px) {
    .menu {
      width: 100%; }
      .menu table {
        margin: 20px 80px; } }
  @media screen and (max-width: 480px) {
    .menu {
      width: 100%; }
      .menu table {
        width: 65%;
        margin: 20px auto;
        font-size: 14px;
        text-align: center; }
      .menu .non-profits-menu {
        display: block; } }

.index-menu-link {
  cursor: pointer; }

.index-menu-link:hover {
  color: #FFCA1A; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 30;
  width: 100%;
  height: 50px; }

.darken {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 60px;
  display: block;
  z-index: 25; }
  @media screen and (max-width: 480px) {
    .darken {
      background-color: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 60px;
      display: block; } }

.fv-logo {
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0;
  display: block;
  background: url("../images/FV-logo.svg") no-repeat;
  width: 250px;
  height: 50px;
  margin: 8px; }
  @media screen and (max-width: 768px) {
    .fv-logo {
      background: url("../images/FV-logo-mark.svg") no-repeat;
      width: 50px; } }
  @media screen and (max-width: 480px) {
    .fv-logo {
      background: url("../images/FV-logo-mark.svg") no-repeat;
      width: 50px; } }

.menu-icon {
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  display: block;
  background: url("../images/menu-btn.svg") no-repeat;
  width: 45px;
  height: 40px;
  margin: 10px; }
  @media screen and (max-width: 480px) {
    .menu-icon {
      width: 36px;
      height: 32px; } }

#landing .nav {
  position: absolute; }
#landing .fv-logo {
  position: absolute; }

.menu-icon-on {
  background: url("../images/menu-btn-close.svg") no-repeat; }

.non-profits {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 15px;
  padding: 0;
  z-index: 100; }
  @media screen and (max-width: 480px) {
    .non-profits {
      display: none; } }

.non-profits2 {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
  padding: 0;
  z-index: 100; }
  @media screen and (max-width: 768px) {
    .non-profits2 {
      top: 0; } }

.labels-hidden {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 52;
  margin-right: 80px;
  margin-bottom: 10px;
  text-align: right;
  display: none; }
  .labels-hidden p {
    margin-bottom: 33px; }
    @media screen and (max-width: 768px) {
      .labels-hidden p {
        margin-top: 33px;
        margin-bottom: 0; } }
  @media screen and (max-width: 768px) {
    .labels-hidden {
      position: fixed;
      top: 0;
      right: 0;
      font-size: 12px; } }

.np-logo {
  width: 50px;
  margin-bottom: 10px; }

#non-profits:hover #labels-hidden {
  display: block; }

.np-logo-body {
  width: 50px;
  margin: 10px; }

.section {
  width: 100%;
  max-height: 1080px;
  margin: 0;
  background-color: #1A1A1A;
  overflow: hidden; }

.section0 {
  position: fixed;
  background: url("../images/site-bg-landing.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto; }
  @media only screen and (max-width: 480px) {
    .section0 {
      background-image: url("../images/site-bg-moon.jpg") no-repeat;
      background-position: top center;
      background-size: contain;
      max-width: 100%;
      min-width: 100px;
      min-height: 200px;
      padding: 50px 0; } }

#landing {
  position: relative; }

.section-btm {
  width: 100%;
  min-height: 1080px;
  margin: 0;
  background-color: #1A1A1A;
  overflow: hidden; }

.container0 {
  margin: 150px;
  width: 35%;
  max-height: 1080px;
  margin-top: 20%;
  padding: 0px;
  font-size: 18px;
  line-height: 1.5; }
  @media only screen and (max-width: 1280px) {
    .container0 {
      margin: 150px 70px;
      width: 70%; } }
  @media only screen and (max-width: 768px) {
    .container0 {
      margin: 150px 50px;
      width: 80%; }
      .container0 h1 {
        font-size: 48px;
        margin-top: -10px; } }
  @media only screen and (max-width: 480px) {
    .container0 {
      margin: 200px auto 50px auto;
      width: 80%;
      font-size: 14px; }
      .container0 .welcome {
        font-size: 24px; }
      .container0 h1 {
        font-size: 36px;
        margin-top: -10px; } }

.welcome {
  font-size: 36px;
  font-weight: 300; }

.name {
  margin: 5px 0;
  line-height: 1.0; }

.email {
  border: none;
  width: 100%;
  height: 35px;
  font-size: 18px;
  text-decoration: italic;
  margin-top: 20px; }
  @media only screen and (max-width: 480px) {
    .email {
      width: 90%;
      height: 25px;
      font-size: 14px; } }

.button {
  background-color: #9DCC52;
  width: 250px;
  height: 70px;
  border-radius: 5px;
  border: none;
  margin-top: 50px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  -webkit-appearance: none; }
  @media only screen and (max-width: 480px) {
    .button {
      width: 100%;
      margin-top: 10px; } }

.button:hover {
  background-color: #FFCA1A; }

.submit {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  padding: 15px;
  -webkit-appearance: none; }

.one {
  display: block;
  background-image: url("../images/site-bg.gif");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  padding: 0;
  max-width: 100%;
  min-height: 860px; }
  @media only screen and (max-width: 1400px) {
    .one {
      min-height: 820px; } }
  @media only screen and (max-width: 1280px) {
    .one {
      height: 720px; } }
  @media only screen and (max-width: 768px) {
    .one {
      min-height: 640px; } }
  @media only screen and (max-width: 480px) {
    .one {
      background-image: url("../images/site-bg-mobile.gif");
      background-position: top center;
      background-size: contain; } }

.container1 {
  margin: 160px;
  width: 30%;
  padding: 0px;
  font-size: 18px;
  line-height: 1.5; }
  .container1 p {
    padding: 5px; }
  @media only screen and (max-width: 1400px) {
    .container1 {
      margin: 120px 100px;
      width: 40%; } }
  @media only screen and (max-width: 1280px) {
    .container1 {
      margin: 120px 100px;
      width: 40%; } }
  @media only screen and (max-width: 768px) {
    .container1 {
      margin: 100px 70px;
      width: 50%; } }
  @media only screen and (max-width: 480px) {
    .container1 {
      margin: 240px auto 20px auto;
      font-size: 14px;
      width: 70%; }
      .container1 #HelloText {
        width: 70%; } }
  @media only screen and (max-width: 320px) {
    .container1 {
      margin: 220px auto 20px auto; }
      .container1 h4 {
        line-height: 1.1;
        margin: 0 4px; }
      .container1 #HelloText {
        width: 80%; } }

.two {
  display: block;
  background-image: url("../images/photos-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px;
  width: 100%;
  min-height: 860px; }
  @media only screen and (max-width: 1400px) {
    .two {
      min-height: 820px;
      padding: 40px 0; } }
  @media only screen and (max-width: 1280px) {
    .two {
      min-height: 720px;
      padding: 40px 0; } }
  @media only screen and (max-width: 768px) {
    .two {
      min-height: 640px;
      padding: 40px 0; } }
  @media only screen and (max-width: 480px) {
    .two {
      min-height: 600px;
      padding: 50px 0; } }
  @media only screen and (max-width: 320px) {
    .two {
      min-height: 600px;
      padding: 50px 0; } }

.container2 {
  margin: 150px auto;
  width: 360px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 25px;
  text-align: center; }
  @media only screen and (max-width: 480px) {
    .container2 {
      margin: 50px auto;
      padding: 20px;
      width: 75%; } }
  @media only screen and (max-width: 320px) {
    .container2 img {
      width: 90%; } }

.bottom-bar {
  position: relative;
  top: 320px;
  width: 100%; }
  @media only screen and (max-width: 1400px) {
    .bottom-bar {
      top: 200px; } }
  @media only screen and (max-width: 1280px) {
    .bottom-bar {
      top: 160px; } }
  @media only screen and (max-width: 768px) {
    .bottom-bar {
      top: 50px; } }
  @media only screen and (max-width: 480px) {
    .bottom-bar {
      top: 260px; } }

.container-sm {
  width: 190px;
  margin: 50px auto;
  padding-top: 10px;
  text-align: center; }

.arrow-left {
  height: 35px;
  float: left; }

.arrow-right {
  height: 35px;
  float: right; }

.three {
  display: block;
  background-image: url("../images/about-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px;
  max-width: 100%;
  min-height: 860px; }
  @media only screen and (max-width: 1400px) {
    .three {
      min-height: 820px;
      padding: 40px 0; } }
  @media only screen and (max-width: 1280px) {
    .three {
      min-height: 720px;
      padding: 40px 0; } }
  @media only screen and (max-width: 768px) {
    .three {
      min-height: 640px;
      padding: 40px 0; } }
  @media only screen and (max-width: 480px) {
    .three {
      min-height: 600px;
      padding: 50px 0; } }

.container3 {
  margin: 15% auto 15% 50px;
  max-width: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 25px; }
  .container3 img {
    width: 100%; }
  @media only screen and (max-width: 1280px) {
    .container3 {
      margin: 20% auto 100px 50px;
      padding: 20px;
      max-width: 45%; } }
  @media only screen and (max-width: 768px) {
    .container3 {
      margin: 20% auto;
      padding: 20px;
      max-width: 65%; } }
  @media only screen and (max-width: 480px) {
    .container3 {
      margin: 50px auto;
      padding: 20px;
      max-width: 75%; } }
  @media only screen and (max-width: 320px) {
    .container3 img {
      width: 90%; }
    .container3 a {
      font-size: 12px; } }

.four {
  position: absolute;
  display: block;
  background-image: url("../images/sky-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  padding: 50px 0;
  max-width: 100%;
  min-height: 1080px; }
  @media only screen and (max-width: 480px) {
    .four {
      padding: 0;
      min-height: 800px; } }
  @media only screen and (max-width: 320px) {
    .four {
      padding: 0;
      min-height: 680px; } }

.container4 {
  margin: 0 auto;
  max-width: 60%;
  padding: 50px;
  text-align: center; }
  @media only screen and (max-width: 1280px) {
    .container4 {
      max-width: 80%;
      padding: 80px 20px; } }
  @media only screen and (max-width: 480px) {
    .container4 {
      max-width: 90%;
      padding: 80px 20px 10px 20px; } }
  @media only screen and (max-width: 320px) {
    .container4 h2 {
      font-size: 36px; } }

.instagram-icon {
  width: 50px; }

.instagram-feed {
  margin: 0 auto 30px auto;
  max-width: 80%; }
  @media only screen and (max-width: 768px) {
    .instagram-feed {
      max-width: 60%; } }
  .instagram-feed iframe {
    min-height: 484px;
    margin: 0 auto; }
    @media only screen and (max-width: 768px) {
      .instagram-feed iframe {
        min-height: 10px; } }

.footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  font-size: 12px;
  margin: 20px auto;
  padding: 0 20px;
  text-align: center; }
  @media only screen and (max-width: 480px) {
    .footer {
      position: relative; } }

.hide {
  display: none; }

@media only screen and (max-width: 410px) {
  #linkWrap {
    text-align: center; } }

@media only screen and (max-width: 410px) {
  #pipe {
    display: block;
    opacity: 0;
    line-height: 4px; } }

/*# sourceMappingURL=style.css.map */
